/*@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*css fuente*/
.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}


/*
      PALETA DE COLORES A USAR 
      #FFF2D8
      #EAD7BB
      #BCA37F
      #113946
      */

/*estilos del nav*/
.bgColor {
  background-color: #BCA37F
}

.navbar {
  display: flex;
  font-size: 1rem;
  padding: 1rem;
  justify-content: space-evenly;
  text-align: center;
}

.navbar-brand {
  margin-left: 5%;
  font-size: 50%;
}

.navbar-nav {
  margin-right: 7%;
}


ul.dropdown-menu {
  background-color: #BCA37F;
  /* Cambia al color de fondo deseado */
}

.a {
  text-decoration: none;
  color: white;

}

.caja1 {
  color: white;
  font-size: 2rem;
  padding-left: 5%;
}

.caja2 {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1rem;
  padding-right: 5%;
}


.titulo {
  font-size: 2rem;
}

.carousel-caption {
  height: 60%;
  align-items: center;

}
.historia{
  display: flex;
  flex-direction: column;
  padding: 10%;
  width: 100%;
  height: 90vh;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
  
  
  
}

.textoSuperpuesto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #EAD7BB;
  text-align: center;
  background: linear-gradient(rgba(94, 45, 5, 0.5), rgba(0, 0, 0, 0.8));
  padding: 20px;
  font-family: "Poppins", sans-serif;
  font-style: italic;
}
.contenido img{
        
  width: 100%; 
  height: 100vh; 
  object-fit: cover; /* Ajusta la imagen para que cubra el área */
}


.carousel-item img {
  width: auto;
  height: 100vh;

}

.image-container {
  width: 100%;
  /* Ajusta según tus necesidades */
  height: 90vh;
  /* Ajusta según tus necesidades */
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 100%;
  height: 90vh;

}

.overlay-button {
  position: absolute;
  top: 50%;
  /* Centrar verticalmente */
  left: 50%;
  /* Centrar horizontalmente */
  transform: translate(-50%, -50%);
  /* Ajustar la posición para centrar */
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  text-decoration: none;
  background: linear-gradient(rgba(94, 45, 5, 0.5), rgba(0, 0, 0, 0.8));
  border: none;
  cursor: pointer;
  border-radius: 5px;
  text-align: center;
}


.inline_block {
  position: absolute;
  height: 6vh;
  width: 12vw;
  border: 1px solid white;
  border-radius: 5px;
  text-align: center;
  padding: 0.3rem;
}


.desenfoque img {
  filter: blur(4px);
}

.center{
  align-items: center;
margin-bottom: 2rem;   
}


.margen {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background-color: #f5f5f5;
}
.section {
padding: 40px;
text-align: center;
background-color: #ffffff;
}
.section h2 {
margin-bottom: 20px;
font-size: 2em;
color: #333;
}


.card-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 400px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.05);
  /* Agranda la card */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  /* Añade sombra más profunda */
}

.card img {
  width: 100%;
  height: 300px;
  /* Altura fija */
  object-fit: cover;
  /* Ajusta la imagen para que cubra el área */
}

.card .content {
  padding: 15px;
}

.card .content h3 {
  margin: 0 0 10px;
  font-size: 1.2em;
  color: #333;
}

.card .content p {
  margin: 0;
  color: #555;
}

.foot {
  background-color: #BCA37F;
  height: 10%;

}

.lista {
  list-style: none;
  padding: 1%;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.lista li {
  display: inline-block;
  /* Hace que los elementos de la lista se muestren uno al lado del otro */
  margin-right: 10px;
  /* Añade un pequeño margen entre los elementos */
}

/* Footer */
.container-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(10, 78, 101);
  border-radius: 10px;
  margin-top: 10px;
  background-image: url(../assets/imagenes/Logo/Logo01.jpeg);
  background-size: contain;
  /*align-items: stretch; Cambiado a 'stretch' para igualar alturas */
  top:50%;
}

.imagen-footer,
.texto-footer,
.mapa-footer {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 10px;
  border-radius: 10px;
}
.imagen-footer {
  width: 15%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.texto-footer {
  width: 50%;
  margin-bottom: 10px;
}

.mapa-footer {
  width: 32%;
  margin-bottom: 10px;
  display: flex; /* Asegurar que el contenido del mapa también se estire */
  align-items: center; /* Centrar el contenido del mapa */
}

.mapa-footer:hover,
.texto-footer:hover {
  /* background-color: rgba(145, 140, 140, 0.75);
  color: black;  */
  transform: scale(1.03); /* Agranda el div al 120% de su tamaño original */
}

.imagen-footer img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.texto-footer {
  color: aliceblue;
  text-align: justify;
  font-weight: bold;
  padding: 10px;
}

.mapa-footer iframe {
  width: 100%;
  height: 100%; /* Cambiado a 100% para ocupar toda la altura del contenedor */
}

@keyframes zoom {
  0% {
      transform: scale(0); /* Tamaño original */
  }
  50% {
      transform: scale(1); /* Ampliar al 150% */
  }
  100% {
      transform: scale(0); /* Volver al tamaño original */
  }
}

.imagen-logo{
  width: 100%;
  height: auto;
  animation: zoom 8s infinite;
}

/* Responsiveness */
@media (max-width: 768px) {
  .section {
      padding: 20px;
  }

  .card-container {
      flex-direction: column;
      align-items: center;
  }

  .card {
      width: 100%;
  }

  .container-footer {
      flex-direction: column;
      align-items: center;
  }

  .imagen-footer, .texto-footer, .mapa-footer {
      width: 100%;
  }

  .textoSuperpuesto {
      font-size: 2vw; /* Ajusta el tamaño del texto dinámicamente para pantallas más pequeñas */
      max-width: 80%; /* Asegura que el texto no exceda el 90% del ancho del contenedor */
  }
}