@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*
    - Paleta de colores:
    #FFF2D8
    #EAD7BB
    #BCA37F
    #113946
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    outline: none;
    background: none;
    border: none;
    border-bottom: 1px solid #0a4e65;
    color: #eee;
    padding: .2rem .3rem;
}

input[type="radio"]{
    cursor: pointer;
}

select {
    cursor: pointer;
    border: none;
    appearance: none;
    outline: none;
    border: none;
    background: #113946;
    padding: .2rem 1.5rem .2rem .2rem;
    color: #ddd;
}

body {
    width: 100vw;
    height: 100%;
    padding-bottom: 2rem;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins", sans-serif;
    background-image: url("../assets/imagenes/Bodegon01.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
}

.header {
    width: 100%;
    height: max-content;
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 6rem;
    background-color: #051920ca;

    h1{
        color: #ffF;
    }

    .nav {
        width: 50%;
        display: flex;
        justify-content: space-between;
        margin: 0 20px 0 auto;

        >div{
            display: flex;
            gap: 1rem;
        }

        a {
            text-decoration: none;
            color: #ffF;
            &:hover{
                color: #cac8c8;
            }
        }
        
        >.nav-links {
            display: flex;
            justify-content: center;
            gap: 3rem;
            list-style: none;

            


            li:nth-child(4) {
                background: #0a4e65;

            }
        }
    }

}

.container {
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
    /*background-image: url("../assets/imagenes/Bodegon01.jpeg");
    /*background-repeat: no-repeat;
    /*background-size: 100%;
    /*background-position:top;*/

    h2 {
        font-weight: 300;
        padding: 0 0 1rem 0;
    }

    .form-section {
        width: 50vw;
        height: 100%;
        margin-top: 2rem;

        .form {
            background: #0b1d23ea;
            backdrop-filter: blur(2px);
            border-radius: 10px;
            text-align: center;
            padding: 2rem 0;
            color: #ddd;
            width: 100%;

            height: max-content;
            margin: auto;
            display: flex;
            flex-direction: column;
            gap: .5rem;
            justify-content: space-between;
            align-items: center;

            span {
                font-weight: 300;
                border-left: 1px solid #0a4e65;
                border-right: 1px solid #0a4e65;
                width: max-content;
                padding: 0 .5rem;
                margin: .5rem auto 0;
            }

            .tableSelector {
                display: flex;
                width: 100%;
                margin-top: 1rem;
                justify-content: center;
                align-items: center;
                gap: 2rem;
                position: relative;

                >select {
                    width: 30%;
                }

                i {
                    color: #1b6279;
                    position: absolute;
                    transform: translateX(9.5rem);
                }
            }


        }

        .foodSelector {
            display: flex;
            flex-direction: column;
            gap: .5rem;
            text-align: center;

            input {
                display: inline;
            }

            >div{
                display: flex;
                >div{
                    display: flex;
                    padding: 0 1rem;
                }
                label {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
    
                    >img {
                        border-radius: 20px;
                        border: 3px solid #113946;
                        width: 100px;
                        aspect-ratio: 16/9;
                    }
                }
            }

            
        }

        .reservasOptions {
            display: flex;
            height: 80px;
            padding: 2.8rem 1rem;
            justify-content: center;
            align-items: center;
            text-align: center;
            gap: 1rem;
            border: 2px solid #0a4e65;
            background: #0a4e653e;

            .dateSelector {
                display: flex;
                flex-direction: column;

                gap: .7rem;

                .dateChoices {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: auto;
                    gap: 1rem;
                    color: #2282a2;
                    background: #0a4e65;
                    padding-right: .3rem;

                    .horarioSelector {
                        display: flex;
                        align-items: center;
                        gap: .5rem;


                    }
                }
            }

            .reservaChoice {
                display: flex;
                flex-direction: column;
                gap: .7rem;
                justify-content: center;
                align-items: center;
                text-align: center;

                label {
                    padding-right: 1rem;
                }
            }
        }

    }

    button {
        padding: .5rem 2rem;
        border-radius: 20px;
        border: none;
        outline: none;
        border: 2px solid #113946;
        background-color: #11394600;
        color: #49a7c6;
        cursor: pointer;
        transition: all .5s;

        &:hover {
            background-color: #113946;
            color: #fff;
            transition: all .5s;
        }
    }

    .table-section {
        text-align: center;
        display: flex;
        flex-direction: column;
        padding-top: 3rem;
        gap: 1rem;
        background: #0b1d23ea;
        backdrop-filter: blur(2px);
        border-radius: 10px;
        color: #eee;
    
        h2 {
            font-weight: 300;
        }
    
        .tables {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-wrap: wrap;
            width: 50vw;
            height: max-content;
            gap: 2rem;
            padding: 2rem;
    
            .table {
                width: 150px;
                height: 150px;
                border-radius: 50%;
                border: 1px solid #45d31e;
                background: #45d31e28;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
    
            .isReserved {
                border: 1px solid #c86c03;
                background: #c86c0330;
            }
        }
    }
}



@media (max-width: 1250px) {
        .header{
            h1{
                font-size: 1.2rem;
                font-weight: 500;
            }
            .nav {
                font-size: 1rem;
                font-weight: 200;
                justify-content: space-between;
                >ul{
                    margin-right: 2rem;
                }
            }
        }

    .container {
    
        .form-section {
            width: 48vw;
    
            .form {
    
                .tableSelector {
                    gap: 1rem;

                    >select {
                        width: 45%;
                        z-index: 1000;
                        background-color: #113946dd;
                    }
    
                    i {
                        color: #00bfff;
                    }
                }
            }
    
            .reservasOptions {
                display: flex;
                flex-direction: column;
                height:max-content;
                padding: 1.2rem 1rem;
    
                .dateSelector {
    
                    .dateChoices {
    
                        .horarioSelector {
                            width: 100%;
                            z-index: 1000;
                            >i{
                                transform: translateX(-1.8rem);
                                z-index: 1;
                            }
    
                        }
                    }
                }
    
                .reservaChoice {
                    display: flex;
                    flex-direction: column;
                    gap: .7rem;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
    
                    label {
                        padding-right: 1rem;
                    }
                }
            }
    
        }
    
        button {
            padding: .5rem 2rem;
            border-radius: 20px;
            border: none;
            outline: none;
            border: 2px solid #113946;
            background-color: #11394600;
            color: #49a7c6;
            cursor: pointer;
            transition: all .5s;
    
            &:hover {
                background-color: #113946;
                color: #fff;
                transition: all .5s;
            }
        }
        
        .table-section {
            width: 48vw;
            height: 100%;
            margin-top: 2rem;
            text-align: center;
            display: flex;
            flex-direction: column;
            padding-top: 3rem;
            gap: 1rem;
            background: #0b1d23ea;
            backdrop-filter: blur(2px);
            border-radius: 10px;
            color: #eee;
        
            h2 {
                font-weight: 300;
            }
        
            .tables {
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;
                width: 50vw;
                height: max-content;
                gap: 2rem;
                padding: 2rem;
        
                .table {
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                    border: 1px solid #45d31e;
                    background: #45d31e28;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
        
                .isReserved {
                    border: 1px solid #c86c03;
                    background: #c86c0330;
                }
            }
        }
    }
}